language: scala

scala:
  - 2.12.6

# make sure to fetch enough commits, so that git describe still works
git:
  depth: false

jobs:
  include:
    - stage: tests
      script: sbt test headerCheck test:headerCheck
    - script: sbt scripted
      env: SCRIPTED
    - script: sbt publishM2 && cd plugin-tester-java && mvn -Dakka.grpc.project.version=`git describe --tags | sed -e "s/v\(.*\)-\([0-9][0-9]*\).*/\\1+\\2-/"``git rev-parse HEAD | head -c8` akka-grpc:generate compile
      env: MAVEN-JAVA
    - script: sbt publishM2 && cd plugin-tester-scala && mvn -Dakka.grpc.project.version=`git describe --tags | sed -e "s/v\(.*\)-\([0-9][0-9]*\).*/\\1+\\2-/"``git rev-parse HEAD | head -c8` akka-grpc:generate scala:compile
      env: MAVEN-SCALA
    - script: sbt publishM2 && cd plugin-tester-java && ./gradlew --include-build ../gradle-plugin clean compileJava
      env: GRADLE-JAVA
    - script: sbt publishM2 && cd plugin-tester-scala && ./gradlew --include-build ../gradle-plugin clean compileScala
      env: GRADLE-SCALA
    - script: cd benchmark-java && sbt test:compile
      env: COMPILE-BENCHMARK
    - stage: whitesource-master
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate
    - stage: whitesource-release
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate
    - stage: publish
      script: sbt "; ++2.11.12 publish ; ++2.12.6 publish"
    - script: openssl aes-256-cbc -K $encrypted_9c9c33071881_key -iv $encrypted_9c9c33071881_iv -in gradle.properties.enc -out ./gradle-plugin/gradle.properties -d && cd gradle-plugin && ./gradlew publishPlugins
    - stage: techhub-ping
      script: curl -I https://ci.lightbend.com/job/techhub-publisher/build?token=$TECH_HUB_TOKEN

stages:
  - name: tests
    if: NOT tag =~ ^v
  - name: whitesource-master
    if: repo = akka/akka-grpc AND branch = master AND type = push
  - name: whitesource-release
    if: repo = akka/akka-grpc AND tag =~ ^v
  - name: publish
    if: repo = akka/akka-grpc AND tag =~ ^v
  - name: techhub-ping
    if: repo = akka/akka-grpc AND tag =~ ^v

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt  -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.gradle

env:
  global:
    # encrypt with: travis encrypt WHITESOURCE_PASSWORD=...
    - secure: "Xla2yMk15qjWY7bRzc/4dKUSIr8RhNzHSWZKF4qKzDbctxZcdeefH2r8YSn/STN9XH0/NgTBlYLn0Kfet3U/OU1ZoIPlH7NpSlWPl29KUHnECXGxItNgGA7XUapydJhItCWgswec7qnaeXjhwOrkrQeRdg/dLgQIcbMpdsCvkjP++xUevvS2OvP8dO4RSRDX/B6Q86NCT6zCwxm3MIaiYFY5t1topHcfHBP4n3G9L7FovhtGO/oTqagUe44YXLEY8PbXLLHECaK+KGjTsfH84aYWb8FhLL9va9dEO7tJXTQeRSu3d6o1Cty0aeK2hGZc0jr9Z+QbT9Hw+7wmAms7GL72/dMsBCHX5FAaCkkwt5dRqBeQu/uNF7iSBFnOatyWMc2zsHxbhLcIeLuIko/N7gLOOaTOiPedXKYjG6PxkTedZdmMe2nFTaeMR0d/e1+bSKxNDgshDu4JdBWlpvpAjH28aLG5sheoEXLIM8n+trp+rmLuNYoJVF+dHpGV+40ejTTR0YJAXp85Byit8xTw/MFEZvtWr4pzO2MvZy63zl4aaYlOzAoQ+sVApuCYz+OeR4nzAYoOZT/XycRxgtSh+HK8ymBElD11k7vKSZ8zxrs4MNcKxs7vi0FPUpWZXAxJO/Aa/9P37+KDoBEG+ygnWtwnSFl3i8rzfjvP3gJAvVY="
    # encrypt with: travis encrypt BINTRAY_USER=...
    - secure: "dPDntjSIN/yrWfCCA30BNADvrBklHT8oriN5ubNCG9LxdfvQYLT1zaBXCCdzdhejgmcWNNlyNxgWt7zjMj3IEYL7xyvT3gTEChUVegxRRbqVpJS9SW2mCx+C/NlI40J1CaiGYxAO6ONRrqiiZ+4R8UwYYcAwvemxC8ZUNYHi4tAVCXBwJcytxSTyRp9Tv1irrk9l7mpgvHGTlNK4tR43CW4iXgeNSrtqFo5QaGosx7x5UofRw8EpVDD5/NaXRPNyQvOyfIWCjS4UgrcgA0Ir5RuklcA3w/OI77f7PXmRVNlcJ+Ki4GoqS06Lmluev6b0R5uFOEBTabSbyb77Euf/lvfmJCOYm2J02y5Mvf5ujequWwA1d2a+TlNqGp0iZme2W1SwD0TcteHdOEerkTjWFh5ishvPyQCHzsrOLw6e4L8pVB8JnDg7KZ4Z/M0ra54vrhh3THnB/RvDOwdcx1M37NsL+o1w/afi+p/2LToFzAtxTzIElWklzBcRHUw630sXUY0eWjzuhi2YEgzdRAboT7xaDvT7HjUo3Da1ye5JkOAQXfpmIKELGeFNIm6JpubXU80iUd+OML7R/Gi7NmXTgCuCBKV8XouKWqSAD+RCKZzoD3yoOY4oOA3oLtKtfltaTciaPo/T1gg2TYHL0h2IHFVuOZeUmOaU4JqkCpkMT/8="
    # encrypt with: travis encrypt BINTRAY_PASS=... (bintray token, not password)
    - secure: "akusg/u0bTODgL3hyJ8iCEjbPQ7pFuLubUZ8k0yZl34IxHqu4OX3uT42zd+OG/ZFwFhNY+90GKDwe51FyTugk16KNZGzkXnDbIKtjn/x5KbCgMPCHojC4/Mbjjp7OAla/8uphYz00nsgZq8IaB2/7aYIWb24juOmtRqyrRxlrW2Pqx5rbh7QU9v3aFNT0lIW8ro6rWVEd0eiltXxUxH+ZmNpXMco/6DXiQfIuWDSU2D8xKzri+FG1fsh8L+LqpkW1zulBBQj1p1Fg/LpQ40pUcjWNNxDLnLEbUZoRdvyv0iz2QqwJCxyzSs3xbAkBPslrFD11eWtgu1MrqeID7h+WJUL68rozdk1NsBj4E3vdD2rbTxJiRmhUEVhrdSpJKhNo9cuUlpMF3eWZEh/JTTDPskW3dHExx/hIoK2YNCYoUZu6gDc24rzeCB6k966DITFyTga4rm8Xmm+E0KkfOnv5FjDEii9RXAb9HxauYRebLr1XBdcRGj0TTZNZfAXxgMIrusi+Awqj4019WY5Gy+o3AXoVQWr35hW0eRe3pDKQ4zCE0BS/SwZPq9YL/MZApVa4jXXb/pRLnF2MRt8Tg9JE7j0t/k38VAX1DZBQyFQFbYwcEwlfvx2a/IdYZ6mEmWcKTWBVpj5tT7FPWCFeT5+nFMgEASTbjEOlnweCnDz1fk="
    # encrypt with: travis encrypt TECH_HUB_TOKEN=...
    - secure: "sFbpTppagGo56idzNXn3qOYwtRb8q/+Zjcen7KV3uNno3U1asfKVNoEj6UMxwCnmPn8BnrRtq2aVHIjDmItDwMHEPQ51Wm+0hxAw15o9yh15/MIoc+yu+VfOSXAYb9pEcMVbIyYzyR/qi2vsBTIJuloUDK/KPmmrUldx1hgFd567WmwHiXwiu/4BePWqsXGiCEjq5nQuO5XS+4uFDdpXlfX6wcQsU6o2ztD60wNAQwdDL751d8TNZNajWi5R9fD7xWV2wsewhGhl5E43o/HiY+Z/h1Kt/f3UGbhj7vZNTHAd901ZEG9QacFxQXaQWYOutlrO+eDBgRKd+27PLNpTLymF1Ht47xcERjpH0lgps02pDoSoFGzRYoHNQYAjA2BXK3GZHcLYmnPCB+5pbw1D4lsX8xQ8y5yO29gE4uCTx7P15bVt7/KbgUTdWfLtOQGyOd/jS9RTplHNAG2fBW2pa5nS4KNmON1UO3vNcsWv/zEHv48ASSLxpC3NxWkwS+zOkt0uORyXlxi0teOajWA7dmalC+9VpKf5kuAZvKM0xYxN5Yqt+6UELtTQnle3fTLnKcE584+eo/RdCgvGD6N0RJHN/UKl7sP7hvTF7w/SbcAaI/jv31N+oVV79UyMLqm1U8HRGg2HLMSHiRbYFSOYmsQ5/sYWn7RsJIroDKpFd+I="
