language: scala

scala:
  - 2.12.10
  - 2.13.1

# make sure to fetch enough commits, so that git describe still works
git:
  depth: false

env:
  global:
    # encrypt with: travis encrypt WHITESOURCE_PASSWORD=...
    - secure: "Xla2yMk15qjWY7bRzc/4dKUSIr8RhNzHSWZKF4qKzDbctxZcdeefH2r8YSn/STN9XH0/NgTBlYLn0Kfet3U/OU1ZoIPlH7NpSlWPl29KUHnECXGxItNgGA7XUapydJhItCWgswec7qnaeXjhwOrkrQeRdg/dLgQIcbMpdsCvkjP++xUevvS2OvP8dO4RSRDX/B6Q86NCT6zCwxm3MIaiYFY5t1topHcfHBP4n3G9L7FovhtGO/oTqagUe44YXLEY8PbXLLHECaK+KGjTsfH84aYWb8FhLL9va9dEO7tJXTQeRSu3d6o1Cty0aeK2hGZc0jr9Z+QbT9Hw+7wmAms7GL72/dMsBCHX5FAaCkkwt5dRqBeQu/uNF7iSBFnOatyWMc2zsHxbhLcIeLuIko/N7gLOOaTOiPedXKYjG6PxkTedZdmMe2nFTaeMR0d/e1+bSKxNDgshDu4JdBWlpvpAjH28aLG5sheoEXLIM8n+trp+rmLuNYoJVF+dHpGV+40ejTTR0YJAXp85Byit8xTw/MFEZvtWr4pzO2MvZy63zl4aaYlOzAoQ+sVApuCYz+OeR4nzAYoOZT/XycRxgtSh+HK8ymBElD11k7vKSZ8zxrs4MNcKxs7vi0FPUpWZXAxJO/Aa/9P37+KDoBEG+ygnWtwnSFl3i8rzfjvP3gJAvVY="
    # encrypt with: travis encrypt BINTRAY_USER=...
    - secure: "TM3M64x3yezZkhT6TjjHTTIbZGnzYA4iIZdP0ZlwXa0pJXQRSqAetKwn/mJ1ABL3x3IKH5REk88JMcn/vdj8/n36200hMTQ4Bu1i28AbLeFJUIuAFu+KojEdcZ9jvz46iVhVaXIm0Az/31hQoje5jx6l/r942xFbuWMli8OiFNcACtwEhnhehWfX6JhFIIgUyvaMFbpGkeY9+xqDTSuxw7dFDxQvDem2remUlBHsfMC8wiGC8wWD3AJX/mQXYufSX9fHQiJTle7UnLnVD7P+wdsoYvMTB5m+1bi3ydh2pju5B2OVHP0BzlOpEy1hwb5KDm2BCpWai6gPW1n2tZAXo3vOzltt1V7QiopA5eF+y+54jtWNvqmjO7wnhIW+BK97lfsysvXw5rTw5JbrO7HsV+QR+eHhKUzp3y4CU8cG8nsAAwV5REFZt99jIzrUIbCP8f6cMmCDrzsBpVEp+cSLUOr2PCoJPrxFKaZxlYx62pmfOoOFkdFZpW0+r/d9VsvZ7Fiy1vwKqoGbdmw6mcXlSqvr8X6FxfAmg5PtyBpRpUc50QIa4EQatVQeKqvKWwdm8DSFvS/2jKVXexs/7LzpxtUWnEf5ZHFxkP04gRrjMArOa3e3LGkdQ3csrIs+JApq/6xIxY8l4lGd/xLORwl7wngZqZK1Tjfpcd073wx1RCo="
    # encrypt with: travis encrypt BINTRAY_PASS=... (bintray token, not password)
    - secure: "MCoJXof5Vrc6o563cK3W+naTOnM9NsV3iqO81NSRyboWadewAWnZy/uhfoi4u0NvzhcTECzMP9Pb2XeGB0ArDuKJ7chHygP84U6ck8Mv7plJ0242mx+4pjFPr461we4PVdjMe4E4RUE4Pqg6FJe4EB76uPfS0rj08tQn59h3ID9BL7i5Memf7KZqIAcANBCD2lFg/ZZQPuPGN1mOuKD1bRvGpl2OqDjFXty4T7aTg1S8e8CHmHTE8Ejnid/butgPQGHgs9rXsg9u1MHeXaDmIDmnCzkjb3hn4anLvIlHDO0NWzS8Lr/+sBCgzVdyQGMaYTbghJZkheDUOZL0YlPFu52UsSWmRmAywYsH/FiVGV9JZrdOMwoQum/NEYAiZZo9p0m4PzHclpBa9KEUbnYFQeV+83UykZ6b3g1lxZSxduaSSps6peqJA+R6HF8mMZfz320pDzzEuWEH9oBK60SxfE9T5bF5bTErg5WQGNEOkGtatyj7XDeuyCA2C9uSWaiLwP5RM1pxQiXehSTTs8dW1k6DHmGLSmpw0qoX9E/wBAe+/Pu/ocf+DNHSNJrRJfzeG2zQJFvu+L6ENC5AaGU5cmtB/6Cz7CCNay9mgMlaHqnGrEQ/IT9h7fMmStG6czqfRF1j8KNgtwzM+jQ8yEfhL7WcNYU8JDm5rE3orqrlQ+I="
    # encrypt with: travis encrypt TECH_HUB_TOKEN=...
    - secure: "sFbpTppagGo56idzNXn3qOYwtRb8q/+Zjcen7KV3uNno3U1asfKVNoEj6UMxwCnmPn8BnrRtq2aVHIjDmItDwMHEPQ51Wm+0hxAw15o9yh15/MIoc+yu+VfOSXAYb9pEcMVbIyYzyR/qi2vsBTIJuloUDK/KPmmrUldx1hgFd567WmwHiXwiu/4BePWqsXGiCEjq5nQuO5XS+4uFDdpXlfX6wcQsU6o2ztD60wNAQwdDL751d8TNZNajWi5R9fD7xWV2wsewhGhl5E43o/HiY+Z/h1Kt/f3UGbhj7vZNTHAd901ZEG9QacFxQXaQWYOutlrO+eDBgRKd+27PLNpTLymF1Ht47xcERjpH0lgps02pDoSoFGzRYoHNQYAjA2BXK3GZHcLYmnPCB+5pbw1D4lsX8xQ8y5yO29gE4uCTx7P15bVt7/KbgUTdWfLtOQGyOd/jS9RTplHNAG2fBW2pa5nS4KNmON1UO3vNcsWv/zEHv48ASSLxpC3NxWkwS+zOkt0uORyXlxi0teOajWA7dmalC+9VpKf5kuAZvKM0xYxN5Yqt+6UELtTQnle3fTLnKcE584+eo/RdCgvGD6N0RJHN/UKl7sP7hvTF7w/SbcAaI/jv31N+oVV79UyMLqm1U8HRGg2HLMSHiRbYFSOYmsQ5/sYWn7RsJIroDKpFd+I="
  matrix:
    - TRAVIS_JDK=adopt@1.8.0-222
    - TRAVIS_JDK=adopt@1.11.0-4

before_install: curl -Ls https://git.io/jabba | bash && . ~/.jabba/jabba.sh
install: jabba install "$TRAVIS_JDK" && jabba use "$_" && java -Xmx32m -version

jobs:
  include:
    - script: sbt ++2.13.1 mimaReportBinaryIssues ++2.12.10 mimaReportBinaryIssues headerCheckAll grpcVersionSyncCheck scalafmtCheckAll scalafmtSbtCheck
      name: checks
    - script: sbt scripted
      name: Test scripted
    - script: sbt publishM2 && cd plugin-tester-java && mvn -Dakka.grpc.project.version=`git describe --tags | sed -e "s/v\(.*\)-\([0-9][0-9]*\).*/\\1+\\2-/"``git rev-parse HEAD | head -c8` akka-grpc:generate compile
      name: Test Maven Java
    - script: sbt publishM2 && cd plugin-tester-scala && mvn -Dakka.grpc.project.version=`git describe --tags | sed -e "s/v\(.*\)-\([0-9][0-9]*\).*/\\1+\\2-/"``git rev-parse HEAD | head -c8` akka-grpc:generate scala:compile
      name: Test Maven Scala
    - script: sbt publishM2 && cd plugin-tester-java && ./gradlew --include-build ../gradle-plugin clean compileJava
      name: Test Gradle Java
    - script: sbt publishM2 && cd plugin-tester-scala && ./gradlew --include-build ../gradle-plugin clean compileScala
      name: Test Gradle Scala
    - script: cd benchmark-java && sbt test:compile
      name: Compile benchmarks
    - stage: whitesource
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate
    - stage: publish
      script: sbt ++2.12.10 publish ++2.13.1 "project akka-grpc-maven-plugin; set publish/skip := true; project akka-grpc-codegen; set publish/skip := true; project akka-grpc-scalapb-protoc-plugin; set publish/skip := true; project sbt-akka-grpc; set publish/skip := true; project akka-grpc" publish
      name: sbt publish
    - script: openssl aes-256-cbc -K $encrypted_9c9c33071881_key -iv $encrypted_9c9c33071881_iv -in gradle.properties.enc -out ./gradle-plugin/gradle.properties -d && cd gradle-plugin && ./gradlew publishPlugins
      name: gradle publish
    - script: eval "$(ssh-agent -s)" && echo $SCP_SECRET | base64 -d > /tmp/id_rsa && chmod 600 /tmp/id_rsa && ssh-add /tmp/id_rsa && sbt akka-grpc-docs/publishRsync
      name: Publish documentation

stages:
  - name: test
    if: NOT tag =~ ^v
  - name: whitesource
    if: repo = akka/akka-grpc AND ((branch = master AND type != pull_request) OR tag =~ ^v)
  - name: publish
    if: repo = akka/akka-grpc AND  ((branch = master AND type != pull_request) OR tag =~ ^v)

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt  -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.jabba/jdk
    - $HOME/.sbt
    - $HOME/.gradle
    - $HOME/.cache/coursier
