<!-- Post-processed by SbtMavenPlugin -->
<plugin xmlns="http://maven.apache.org/PLUGIN/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/PLUGIN/1.0.0 http://maven.apache.org/xsd/plugin-1.0.0.xsd">
  <name>Akka gRPC</name>
  <description>Generate gRPC client and/or server code</description>
  <groupId>com.lightbend.akka.grpc</groupId>
  <artifactId>akka-grpc-maven-plugin</artifactId>
  <goalPrefix>akka-grpc</goalPrefix>
  <mojos>
    <mojo>
      <goal>generate</goal>
      <description>Generate Akka gRPC model and service code</description>
      <implementation>akka.grpc.maven.GenerateMojo</implementation>
      <instantiationStrategy>singleton</instantiationStrategy>
      <phase>generate-sources</phase>

      <parameters>
        <parameter>
          <name>language</name>
          <type>string</type>
          <required>false</required>
          <editable>true</editable>
          <description>Generate java or scala code</description>
        </parameter>
        <parameter>
          <name>generateClient</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Whether to generate client code</description>
        </parameter>
        <parameter>
          <name>generateServer</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Whether to generate server code</description>
        </parameter>
        <parameter>
          <name>generatorSettings</name>
          <type>java.util.List</type>
          <required>false</required>
          <editable>true</editable>
          <description>extra settings to pass to the generators</description>
        </parameter>
        <parameter>
          <name>extraGenerators</name>
          <type>java.util.List</type>
          <required>false</required>
          <editable>true</editable>
          <description>extra generators to load</description>
        </parameter>
        <parameter>
          <name>protoPaths</name>
          <type>list</type>
          <required>false</required>
          <editable>true</editable>
          <description>Where to look for proto files</description>
        </parameter>
      </parameters>
      <configuration>
        <language implementation="enum" default-value="JAVA">${akka-grpc.language}</language>
        <generateClient implementation="boolean" default-value="true">${akka-grpc.generate-client}</generateClient>
        <generateServer implementation="boolean" default-value="true">${akka-grpc.generate-server}</generateServer>
        <generatorSettings implementation="java.util.List" default-value=""/>
        <extraGenerators implementation="java.util.List" default-value=""/>
        <protoPaths default-value="src/main/proto,src/main/protobuf">${akka-grpc.protoPaths}</protoPaths>
      </configuration>
    </mojo>
  </mojos>
</plugin>
