name: Validate and test

on:
  pull_request:
  push:
    branches:
      - master
    tags-ignore: [ v.* ]

jobs:
  check-code-style:
    name: Checks
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch
      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11.0-9
      - name: Cache Coursier cache
        uses: coursier/cache-action@v5
      - name: Code style check and binary-compatibility check
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt scalafmtCheckAll scalafmtSbtCheck headerCheckAll grpcVersionSyncCheck ++2.13.3 mimaReportBinaryIssues ++2.12.11 mimaReportBinaryIssues


  compile-benchmarks:
    name: Compile Benchmarks
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch
      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11.0-9
      - name: Cache Coursier cache
        uses: coursier/cache-action@v5
      - name: Compile benchmarks
        run: |-
          cd benchmark-java
          sbt test:compile


  compile-and-test:
    name: Compile and test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - SCALA_VERSION: 2.12.11
          - SCALA_VERSION: 2.13.3
          - JABBA_JDK: 1.8.0-275
          - JABBA_JDK: 1.11.0-9
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Set up JDK ${{ matrix.JABBA_JDK }}
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@${{ matrix.JABBA_JDK }}

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Compile and test for JDK ${{ matrix.JABBA_JDK }}, Scala ${{ matrix.SCALA_VERSION }}
        run: sbt ++${{ matrix.SCALA_VERSION }} test


  test-sbt:
    name: sbt scripted tests
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Set up JDK 8
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.8.0-275

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Scripted gen-scala-server
        run: cp .jvmopts-travis .jvmopts && sbt "; project sbt-akka-grpc; scripted gen-scala-server/*"

      - name: Scripted gen-java
        run: cp .jvmopts-travis .jvmopts && sbt "; project sbt-akka-grpc; scripted gen-java/*"


  test-gradle:
    name: Gradle tests
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Set up JDK 8
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.8.0-275

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Test Gradle Java Scala 2.12
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.12.11 akka-grpc-runtime/publishM2
          cd gradle-plugin
          ./gradlew clean publishToMavenLocal --console=plain --info --stacktrace
          find ~/.m2 | grep gradle
          cd ../plugin-tester-java
          ./gradlew clean test --console=plain --info --stacktrace -Dakka.grpc.project.version=`cat ~/.m2/.version`

      - name: Test Gradle Java Scala 2.13
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.13.3 akka-grpc-runtime/publishM2
          cd gradle-plugin
          ./gradlew clean publishToMavenLocal --console=plain --info --stacktrace
          find ~/.m2 | grep gradle
          cd ../plugin-tester-java
          ./gradlew clean test --console=plain --info --stacktrace -Dakka.grpc.project.version=`cat ~/.m2/.version`

      - name: Test Gradle Scala 2.12
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.12.11 akka-grpc-runtime/publishM2
          cd gradle-plugin
          ./gradlew clean publishToMavenLocal --console=plain --info --stacktrace
          find ~/.m2 | grep gradle
          cd ../plugin-tester-scala
          ./gradlew clean test --console=plain --info --stacktrace -Dakka.grpc.project.version=`cat ~/.m2/.version`

      - name: Test Gradle Scala 2.13
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.13.3 akka-grpc-runtime/publishM2
          cd gradle-plugin
          ./gradlew clean publishToMavenLocal --console=plain --info --stacktrace
          find ~/.m2 | grep gradle
          cd ../plugin-tester-scala
          ./gradlew clean test --console=plain --info --stacktrace -Dakka.grpc.project.version=`cat ~/.m2/.version`



  test-maven:
    name: Maven tests
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Set up JDK 8
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.8.0-275

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Test Maven Java
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.12.11 akka-grpc-runtime/publishM2 ++2.13.3 akka-grpc-runtime/publishM2
          sbt akka-grpc-maven-plugin/publishM2
          cd plugin-tester-java
          mvn -Dakka.grpc.project.version=`cat ~/.m2/.version` akka-grpc:generate compile

      - name: Test Maven Scala
        run: |-
          cp .jvmopts-travis .jvmopts
          sbt akka-grpc-codegen/publishM2 akka-grpc-scalapb-protoc-plugin/publishM2 ++2.12.11 akka-grpc-runtime/publishM2 ++2.13.3 akka-grpc-runtime/publishM2
          sbt akka-grpc-maven-plugin/publishM2
          cd plugin-tester-scala
          mvn -Dakka.grpc.project.version=`cat ~/.m2/.version` akka-grpc:generate scala:compile
